.App {
  text-align: center;
}

.App-header {
  background-color: rgb(36, 146, 219);
  height: 75px;
  padding: 20px;
  color: rgb(17, 8, 11);
}

.App-intro {
  font-size: large;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.category-button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.category-button:hover, .selected {
    background-color: #008CBA;
    color: white;
}
